# Dependencies
node_modules/

# Playwright outputs
playwright-report/
playwright/.cache/
.test-results/

# Downloads
downloads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / Editor
.DS_Store
*.swp
.idea/
.vscode/
